name: Release to Maven Central

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Java & GPG
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Publish to Maven Central
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
            ./mvnw --batch-mode clean deploy \
            -DskipTests \
            -Dgpg.passphrase=$GPG_PASSPHRASE \
            -s local-settings.xml \
            -Dcentral.username=$CENTRAL_USERNAME \
            -Dcentral.password=$CENTRAL_PASSWORD